:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: block;
  margin: 0 auto;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
}
