.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  width: 19%;
  height: 20%;
}
.main-nav-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 15%;
}
.main-nav-container-user{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 5%;
    color: #42b983;
}
.name-user{
    width: 60px;
}
.main-nav a {
  font-weight: bold;
  color: #2c3e50;
  width: 100%;
  height: 100%;
}

.fa {
    font: normal normal normal 45px/1 Fontawesome;
    height: 100%;
  color: #42b983;
}

